<form [formGroup]="responseForm">
  <div fxLayout="row" fxLayoutAlign="center start">
    <h2 fxFlex="65%">{{ survey.surveyTitle }}</h2>
  </div>
  <div formArrayName="responses">
    <div
      class="question-box"
      *ngFor="
        let element of responseForm.get('responses').controls;
        let i = index
      "
      [formGroupName]="i"
    >
      <mat-card class="survey-card">
        <mat-card-content>
          <div fxLayout="row">
            <app-preview-text
              *ngIf="survey.surveyElements[i].type == 'text'"
              [formElement]="element"
              [question]="survey.surveyElements[i]"
            ></app-preview-text>
            <app-preview-checkbox
              *ngIf="survey.surveyElements[i].type == 'checkbox'"
              [formElement]="element"
              [question]="survey.surveyElements[i]"
            ></app-preview-checkbox>
            <!-- <app-preview-select
          *ngIf="surveyElement.type == 'select'"
          [formElement]="f.responses.controls[i]"
        ></app-preview-select>
        
        <app-preview-radio
          *ngIf="surveyElement.type == 'radio'"
          [formElement]="f.responses.controls[i]"
        ></app-preview-radio>
        <app-preview-boolean
          *ngIf="surveyElement.type == 'boolean'"
          [formElement]="f.responses.controls[i]"
        ></app-preview-boolean> -->
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</form>
