<form [formGroup]="formElement">
  <div fxLayout="row" fxLayoutAlign="start start">
    <mat-form-field fxFlex>
      <input matInput placeholder="Question" formControlName="question" (click)="$event.target.select()" />
      <mat-error
        *ngIf="
          formElement.controls.question.errors &&
          formElement.controls.question.errors.required
        "
      >
        Please enter a question
      </mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="start start">
    <mat-form-field fxFlex>
      <input matInput disabled placeholder="Response" />
    </mat-form-field>
  </div>
</form>
