<mat-sidenav-container class="survey-container">
  <mat-sidenav class #sidenav [mode]="openMode" [(opened)]="opened">
    <app-toolbox (addTool)="addNewTool($event)"></app-toolbox>
  </mat-sidenav>

  <mat-sidenav-content fxLayout="row" fxLayoutAlign="center start">
    <button
      *ngIf="mobile"
      class="gavel"
      mat-icon-button
      (click)="sidenav.toggle()"
    >
      <mat-icon>gavel</mat-icon>
    </button>
    <form
      fxFlex
      [formGroup]="surveyForm"
      (ngSubmit)="save()"
      class="surveyForm"
    >
      <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="5px">
        <button
          type="submit"
          color="primary"
          mat-raised-button
          [disabled]="disableSend()"
        >
          Publish<mat-icon>send</mat-icon>
        </button>
      </div>

      <div fxLayout="row" fxLayoutAlign="center start">
        <mat-form-field fxFlex="65%">
          <input
            matInput
            placeholder="Survey Title"
            formControlName="surveyTitle"
          />
          <mat-error
            *ngIf="f.surveyTitle.errors && f.surveyTitle.errors.required"
          >
            Please enter a value
          </mat-error>
        </mat-form-field>
      </div>

      <div
        *ngIf="isEmptyArray()"
        fxLayout="column"
        fxLayoutAlign="center center"
        class="empty-div"
      >
        <img src="../../../assets/toolicons/add_elements.png" />
        <h2 fxFlex>
          Use the toolbox.
        </h2>
      </div>
      <div
        formArrayName="surveyElements"
        (cdkDropListDropped)="drop($event)"
        cdkDropList
        class="question-list"
        *ngIf="!isEmptyArray()"
      >
        <div
          class="question-box"
          *ngFor="
            let element of surveyForm.get('surveyElements')['controls'];
            let i = index
          "
          [formGroupName]="i"
          cdkDrag
          cdkDragLockAxis="y"
        >
          <mat-card class="survey-card">
            <mat-card-content>
              <div fxLayout="row" fxLayoutAlign="end start">
                <button
                  class="resize"
                  fxFlexEnd
                  type="button"
                  mat-icon-button
                  cdkDragHandle
                >
                  <mat-icon>unfold_more</mat-icon>
                </button>
                <button
                  fxFlexEnd
                  type="button"
                  mat-icon-button
                  (click)="openSettings(element)"
                >
                  <mat-icon>settings</mat-icon>
                </button>
                <button
                  fxFlexEnd
                  type="button"
                  color="warn"
                  mat-icon-button
                  (click)="deleteQuestion(i)"
                >
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
              <div fxLayout="row">
                <app-text
                  *ngIf="element.controls.type.value == 'text'"
                  [formElement]="element"
                ></app-text>
                <app-checkbox
                  *ngIf="element.controls.type.value == 'checkbox'"
                  [formElement]="element"
                ></app-checkbox>
                <app-select
                  *ngIf="element.controls.type.value == 'select'"
                  [formElement]="element"
                ></app-select>
                <app-radio
                  *ngIf="element.controls.type.value == 'radio'"
                  [formElement]="element"
                ></app-radio>
                <app-boolean
                  *ngIf="element.controls.type.value == 'boolean'"
                  [formElement]="element"
                ></app-boolean>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>
