<form [formGroup]="formElement">
  <div fxLayout="row" fxLayoutAlign="start start">
    <mat-form-field fxFlex>
      <input matInput placeholder="Question" formControlName="question" />
      <mat-error
        *ngIf="
          formElement.controls.question.errors &&
          formElement.controls.question.errors.required
        "
      >
        Please enter a question
      </mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="start start" formArrayName="options">
    <mat-form-field fxFlex>
      <mat-label>Options</mat-label>
      <mat-select disabled>
        <mat-option
          *ngFor="
            let element of formElement.get('options').controls;
            let i = index
          "
          [formGroupName]="i"
          [value]="element.controls.key.value"
        >
          {{ element.controls.value.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
