<mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="1">
  <mat-tab disabled>
    <ng-template mat-tab-label>
      <img style="height: 85px;" src="../../../assets/unmashed.jpeg">
    </ng-template>
  </mat-tab>
  <mat-tab label="Builder">
    <app-workspace
      [surveyForm]="surveyForm"
    ></app-workspace>
  </mat-tab>
  <mat-tab label="Json Editor">
    <app-json [survey]="surveyForm" (jsonApply)="applyValue($event)"> </app-json>
  </mat-tab>
  <mat-tab label="Viewer">
    <app-preview-form [survey]="surveyForm.value"> </app-preview-form>
  </mat-tab>
</mat-tab-group>
