/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Muli');
@import '~@angular/material/theming';

$formkriya-typography: mat-typography-config(
  $font-family: 'Muli'
);

@include angular-material-typography($formkriya-typography);
body {
  font-family: 'Muli', sans-serif !important;
  height: 100%;
  margin: 0;
}

:root {
  --primary: #3f51b5;
  --primary-light: #eef7ff;
  --light: #ffffff;
}

.option-margin {
  margin-top: 4px;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
