<form [formGroup]="formElement">
  <div fxLayout="row" fxLayoutAlign="start start">
    <mat-form-field fxFlex>
      <input matInput placeholder="Question" formControlName="question" />
      <mat-error
        *ngIf="
          formElement.controls.question.errors &&
          formElement.controls.question.errors.required
        "
      >
        Please enter a question
      </mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <mat-slide-toggle disabled> </mat-slide-toggle>
  </div>
</form>
